.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container-form {
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons button.logout {
    background-color: #dc3545; /* Rojo */
}

.buttons button.logout:hover {
    background-color: #c82333; /* Rojo más oscuro */
}
